<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Card</title>
    <style>
      .bg_card{
        background-image: url("http://npru.ac.th/2019/img/slide/banner1920x600-04.jpg");
        background-color: #cccccc;  
        object-fit: fill;    
      }
    </style>
  </head>
  <body>
  <div class="container bg_card" >
    <div class="row g-5 mt-2 p-2 rounded " >
      <div class="col-2 " >
        <div class="d-flex justify-content-center">

          <img class="rounded-circle mx-1" width="200" height="200" src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t39.30808-6/315594501_2294219314069709_3583128424784275156_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGGXnd160tn4JjnJewbvJwfKqKadtTiBLsqopp21OIEu5f4q2EY9v8shItniBxp-KCbiQow-dedNQs-6X62Gff_&_nc_ohc=-84yL3I2qfAAX_CjgNR&_nc_ht=scontent.fbkk5-1.fna&oh=00_AfAeSeEC9btxBFOQYB7dvuq6T1LVVaJ-fsu0cvC-KZWZzg&oe=6421C064" alt="">
        </div>
      </div>
      <div class="col-8 ">
        <h4 class="display-4">บัตรประจำนักศึกษา</h4>
        <p> <span class="fs-5 text-bold fw-bold">ชื่อมหาลัยอังกฤษ</span> <%= institutionNameEng %></p>
        <p> <span class="fs-5 text-bold fw-bold">ชื่อมหาลัย</span> <%= institutionNameThai %></p>
        <p> <span class="fs-5 text-bold fw-bold">วันเกิด</span> วันเกิด <%= dateOfBirth %></p>
        <p> <span class="fs-5 text-bold fw-bold">ID Card</span> <%= id %></p>
        <p> <span class="fs-5 text-bold fw-bold">ชื่อ</span> <%= fname %> <%= lname %></p>
        <p> <span class="fs-5 text-bold fw-bold">สาขา</span> <%= branch %></p>
        <p> <span class="fs-5 text-bold fw-bold">คณะ</span> <%= major %></p>
        <p> <span class="fs-5 text-bold fw-bold">รหัสประจำตัวนักศึกษา</span> <%= studentId %></p>
        <p> <span class="fs-5 text-bold fw-bold">วันออกบัตร</span> <%= dateOfIssue %></p>
        <p> <span class="fs-5 text-bold fw-bold">วันหมดอายุบัตร</span> <%= dateOfExpir %></p>
        <p> <span class="fs-5 text-bold fw-bold">ชั้นปีที่</span> <%= year %></p>
      </div>
      <div class="col-2 " >
        <div class="d-flex justify-content-center">
  
          <img width="250" height="250" src="https://www.npru.ac.th/2019/img/Npru-logo.png">
        </div>
      </div>
    </div>
  </div>
  </body>
</html>